/* Stylesheet for Jeopardy Game*/
:root {
    --text: #ffffff;
    --accent: #048c7f;
    --jpbg: rgba(0, 0, 0, 0.5);
    --grad1: #00ccff;
    --grad2: #d400d4;
    --background: #172c3c;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background);

}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

.title {
    display: grid;
}


#lpdiv {
    font-size: 90px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: var(--text);

    margin-bottom: 20px;
}

#jpdiv {
    font-size: 150px;
    align-items: center;
    color: var(--text);
    font-family: 'Rubik', sans-serif;

    padding: 10px;
    display: flex;
    position: relative;
    border: 1px solid var(--accent);
    background: var(--jpbg);
}

.button {
    font-size: 25px;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;

    border: none;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border-radius: 35px;
    display: inline-block;
    background-color: var(--accent);

    cursor: pointer;
}